[submodule "community-widgets"]
	path = community-widgets
	url = git@github.com:tetrisface/community-widgets.git
	branch = main
[submodule "widgets-extra"]
	path = widgets-extra
	url = git@github-tetrisface:tetrisface/widgets-extra.git
	branch = main
