[submodule "widgets-extra"]
	path = widgets-extra
	url = git@github-tetrisface:tetrisface/widgets-extra.git
	branch = main
[submodule "BAR-Widgets"]
	path = BAR-Widgets
	url = https://github.com/tetrisface/BAR-Widgets.git
	branch = main
[submodule "community-widgets"]
	path = community-widgets
	url = git@github-tetrisface:tetrisface/community-widgets.git
	branch = main
[submodule "recoil-lua-library"]
	path = recoil-lua-library
	url = https://github.com/beyond-all-reason/recoil-lua-library
	branch = main
[submodule "nuttyb"]
	path = nuttyb
	url = https://github.com/nuttyb-community/nuttyb
